
.app_body {

    width: 100%;
    height: calc(100vh - 295px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

}

h2 {
    align-self: flex-start;
    margin-left: 10px;
}








