.archive-table table {
    table-layout: fixed;
    width: 100%;
    padding: 10px;
    border-collapse: collapse;
    margin-left: 20px;
}

.archive-table thead th:nth-child(1) {
    width: 55%;
}

.archive-table td {
    padding: 8px;
}

.archive-table tr:hover {
    background-color: #afcded;
}

.archive-table thead tr:hover {
    background-color: transparent;
}