.input-box {
    display: block;
    box-sizing: border-box;
}

label {
    font-weight: bold;
    margin-left: 20px;
}

input[type=text] {
    padding: 7px 10px;
    margin: 7px 0;
    border: 2px solid #eee;
    border-radius: 12px;
    box-shadow: 0 0 7px 2px rgb(0 0 0 / 10%);
    width: 94%;
    font-family: inherit;
}

.error {
    color: #ff0000bd;
    font-size: 13px;
    text-align: left;
    font-weight: 700;
    font-family: ui-sans-serif;
    margin: 0 0 12px 34px;
}

input[type=text]:focus, input[type=text]:focus-visible {
    outline: none;
    border: 1px solid #676767;
    background-color: rgba(116, 116, 121, 0.06);
    transition: .5s border-color;
}

input[type=text]:hover {
    background-color: rgba(116, 116, 121, 0.06);
    transition: .3s background-color;
}



