* {
    scroll-behavior: smooth;
}

.job-overlay {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: rgba(242, 242, 243, 0.84);
}

.job {
    display: flex;
    justify-content: center;
    width: 95%;
    box-sizing: border-box;
    margin: 10px 20px;
    padding: 0 10px;
}

.job-header {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    background-color: rgba(161, 198, 235, 0.84);
    border-radius: 10px;

}

.job-navbar {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 5px 10px;
}

.navbar-logo {
    display: flex;
    justify-content: center;
}

.navbar-options {
    display: flex;
    flex-basis: auto;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
    flex-direction: row;
}

.navbar-link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    transition: ease-in-out .3s;
}

.navbar-link:hover {
    color: rgba(0, 0, 0, 1);
    text-decoration: underline black;
}

#logo {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 800;
}

.job-name {
    justify-content: flex-start;
    margin-left: 50px;
    font-size: 2rem;
}

.job-description {
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(161, 198, 235, 0.40);
    min-height: 100px;
    max-height: 300px;
    overflow-y: auto;
}

.job-url {
    justify-content: flex-start;
    margin: 30px 18px;
}

.company-url-text {
    margin-right: 30px;
    font-weight: 600;
}

.company-url {
    align-self: center;
    text-decoration: none;
    color: black;
}

.job-address {
    width: 95%;
    height: 300px;
    background: green;
}

.map-box {
    align-self: center;
}

.job-files {
    height: 200px;
}

.files-box {
    align-self: center;
    background-color: purple;
    width: 150px;
    height: 150px;
}

.job-status {
    justify-content: space-around;
}

.job-status-display, .job-status-changer {
    align-self: center;
}

.status-p {
    text-align: center;
}

.status-changer {
    width: 130px;
    padding: 15px;
    margin: 5px;
    border: 1px solid;
    border-radius: 10px;
    background-color: #0a5c86;
    color: #fff;
}

.status-changer:hover {
    background-color: rgb(20, 131, 187);
    cursor: pointer;
}