.img-logo {
    height: 75px;
    margin-left: 30px
}

header {
    height: 75px;
    width: 100%;
    padding: 10px 0;

}

.map-icon {
    height: 40px;
}

.header_content {
    height: inherit;
    display: flex;
    justify-content: space-between;
    margin: 8px 30px;
    padding: 5px;
    background-color: rgba(161, 198, 235, 0.84);
    border-radius: 10px;
}

.header-image {

}

.button_div {
    display: flex;
    justify-content: space-between;
    width: 15%;
    margin-right: 10px;
}