h3 {
    align-self: flex-start;
    margin-left: 10px;
}

footer {
    height: 165px;
}

.archive-footer {
    display: flex;
    flex-direction: column;
}

.archive-message {
    align-self: center;
    font-weight: 400;
}