.btn {
    background-color: #169bc9;;
    border: #ffffff 1px solid;
    border-radius: 20px;
    color: #ffffff;
    margin: 8px 0;
    min-width: 60px;
    height: 60px;
    transition: ease-in-out .3s;
}

.btn:hover {
    background-color: rgb(62, 178, 238);
    border: 1px solid rgba(0, 0, 0, 0.62);
    cursor: pointer;
}

.btn-switch {
    border: 0;
    border-radius: 15px;
    width: 30%;
    padding: 8px;
    color: white;
    font-size: 14px;
}

.btn-status-changer {
    width: 130px;
    padding: 15px;
    margin: 5px;
    border: 1px solid;
    border-radius: 10px;
    color: #fff;
}

.btn-file-modal {
    padding: 20px;
}

.btn-account {
    border-radius: 100px;
    height: 60px;
}

.btn-map-view {
    border-radius: 100px;
    padding: 6px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-set-active, .btn-table-status-change {
    width: 140px;
    height: 40px;
}

.btn-archive {
    width: 20%;
    margin-left: 20px;
}

.btn-main-return {
    width: 20%;
    margin-top: 60px;
}

.btn-logout {
    width: 14%;
}